*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Style */

:root {
  --textColor: #091e42;
  --blueColor: #0052cc;
  --greyColor: #a5adba;
  --fontFamily: Circular Std;
  --black: #222;
  --white: #ffffff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --bodyFont: "Karla", sans-serif;
  --backgroundColor: --white;
  --borderRadius: 4px;
  --letterSpacing: 1px;
  --lineHeight: 24px;
  --transition: 0.3s ease-in-out all;
  --maxWidth: 1120px;
  --fixedWidth: 600px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  border: none;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--fontFamily);
  font-weight: 500;
  font-size: 1rem;
  line-height: var(--lineHeight);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  /* max-width: var(--maxWidth); */
}

/* 
=============
Navbar
==========
 */
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: var(--white);
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: none;
}
.nav-toggle {
  display: block;
  border: none;
  background: transparent;
}
.desktop-logo {
  display: none;
}
.mobile-logo {
  display: block;
}

.navbar-links-mobile {
  position: absolute;
  top: 5;
  width: 100%;
  height: 100%;
  display: block;
  transition: var(--transition);
  background: var(--white);
  margin-top: 2rem;
}
.nav-btn-container {
  display: none;
}

.nav-link {
  color: var(--textColor);
  font-size: 1.2rem;
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  text-transform: capitalize;
  padding-left: 2rem;
  cursor: pointer;
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--blueColor);
}

/* 
=============
Hero
==========
 */

.hero-section {
  min-height: calc(100vh - 4rem);
  background: var(--white);
}
.hero-center {
  display: flex;
  flex-direction: column;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-photo {
  width: 30rem;
}

@media screen and (min-width: 800px) {
  .section-center {
    width: 80vw;
  }
  /* 
=============
Navbar
==========
 */

  .desktop-logo {
    display: block;
  }
  .mobile-logo {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navlinks-container {
    margin-left: 2.85rem;
  }
  .nav-links {
    display: flex;
  }
  .navbar-links-mobile {
    display: none;
  }
  .nav-link {
    padding: 0 3rem 0 0;
  }
  .nav-link:hover {
    color: var(--blueColor);
  }

  .nav-btn-container {
    display: flex;
    justify-content: flex-end;
  }
  .sign-in-btn {
    background: var(--blueColor);
    color: var(--white);
    margin-left: 1rem;
  }
  .sign-in-btn:hover {
    background: var(--white);
    color: var(--greyColor);
  }
  .sign-up-btn {
    color: var(--greyColor);
    background: var(--white);
  }
  .sign-up-btn:hover {
    background: var(--blueColor);
    color: var(--white);
  }

  /* 
=============
Hero
==========
 */

  .hero-center {
    flex-direction: row;
  }
  .hero-text {
    width: 30%;
    border: 1px solid red;
  }
  .hero-img {
    width: 68%;
  }
}
