*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std);

/* Global Style */
:root {
  --textColor: #091e42;
  --paragraphTextColor: #5e6c84;
  --blueColor: #0052cc;
  --greyBg: #f4f5f7;
  --btnGreyColor: #f4f5f7;
  --greyColor: #a5adba;
  --fontFamily: "Circular Std";
  --black: #222;
  --white: #ffffff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --borderRadius: 4px;
  --letterSpacing: 1px;
  --lineHeight: 24px;
  --transition: 0.3s ease-in-out all;
  --maxWidth: 1120px;
  --fixedWidth: 600px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  border: none;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--fontFamily);
  font-weight: 500;
  font-size: 1rem;
  line-height: var(--lineHeight);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
}
.title {
  color: var(--textColor);
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.paragraph-text {
  padding-top: 1rem;
  color: var(--paragraphTextColor);
  font-size: 1rem;
  /* font-family: var(--fontFamily); */
  line-height: var(--lineHeight);
}

/* 
=============
Navbar
==========
 */
.navbar-container {
  display: flex;
  height: 5rem;
  background-color: var(--white);
  align-items: center;
  /* position: fixed;
  width: 100%;
  z-index: 2; */
}

.nav-center {
  display: block;
}

.navlinks-container {
  display: none;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links-mobile {
  position: absolute;
  top: 5;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: var(--transition);
  background: var(--white);
  padding: 5rem 1rem 3rem 1rem;
}

.nav-toggle {
  display: block;
  border: none;
  background: transparent;
}
.desktop-logo {
  display: none;
}
.mobile-logo {
  display: block;
}
.nav-links li {
  padding-bottom: 3rem;
}

.nav-link {
  color: var(--textColor);
  font-size: 1.2rem;
  font-family: var(--fontFamily);
  line-height: var(--lineHeight);
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--blueColor);
}
.nav-btn-container {
  display: flex;
  flex-direction: column;
}

.sign-in-btn {
  background: var(--blueColor);
  color: var(--white);
  margin-top: 1.2rem;
}
.sign-in-btn:hover {
  background: var(--white);
  color: var(--greyColor);
}
.sign-up-btn {
  color: var(--greyColor);
  background: var(--btnGreyColor);
  margin-top: 4rem;
}
.sign-up-btn:hover {
  background: var(--blueColor);
  color: var(--white);
}

/* 
=============
Hero
==========
 */

.hero-section {
  min-height: calc(100vh - 5rem);
  background: var(--white);
}
.hero-center {
  display: grid;
  gap: 1rem;
}

.hero-text h1 {
  font-size: 2rem;
  line-height: 42px;
  text-transform: none;
}

.hero-text p {
  font-size: 1rem;
  max-width: 15rem;
}

/* 
=============
Hr
==========
 */

.hr-container {
  background: var(--greyBg);
  padding: 3.8rem 0;
}

.hr-details-container {
  display: grid;
  gap: 2rem;
  margin: 3.5rem 0;
}
.hr-detail {
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 16px;
  padding: 2rem;
}

.hr-detail h2 {
  font-size: 1.1rem;
  padding-top: 1.8rem;
}
.hr-detail p {
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

/* 
=============
Admin
==========
 */

.admin-container {
  background: var(--white);
  padding: 3.8rem 0;
}
.admin-header {
  display: grid;
  gap: 2rem;
  padding-bottom: 5rem;
}
.travel-section {
  padding-left: 1.85rem;
}

.travel-section h2 {
  font-size: 1.185rem;
  padding-top: 1.8rem;
}
.company-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.company-logo div {
  margin-top: 2rem;
  height: 50%;
  display: flex;
}

.company-logo div img {
  width: 10rem;
  padding-right: 1.5rem;
  padding-left: 0.85rem;
}

.footer-container {
  background: var(--textColor);
  padding: 3.2rem 1.5rem;
}

.footer-logo {
  color: var(--white);
  text-align: center;
}
.footer-section {
  display: grid;
  gap: 4rem;
}
.social-icons {
  margin: 0 auto;
}

.social-icons a {
  padding-right: 1.5rem;
  cursor: pointer;
}
.social-icons a:first-child {
  padding-left: 2rem;
}

.copy-right {
  display: block;
  padding-top: 3rem;
  color: var(--white);
  text-align: center;
  line-height: var(--lineHeight);
}

@media screen and (min-width: 800px) {
  .section-center {
    width: 80vw;
  }
  .title {
    font-size: 2rem;
  }

  .paragraph-text {
    font-size: 0.85rem;
    max-width: 23rem;
    padding-top: 1.7rem;
  }
  /* 
=============
Navbar
==========
 */
  .desktop-logo {
    display: block;
  }
  .mobile-logo {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: flex;
  }

  .nav-btn-container {
    flex-direction: row;
  }

  .navlinks-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 2rem;
  }

  .sign-in-btn {
    margin-top: 0;
    margin-left: 1rem;
  }

  .sign-up-btn {
    margin-top: 0;
  }
  .nav-links li {
    padding-bottom: 0;
  }
  .navbar-links-mobile {
    display: none;
  }
  .nav-link {
    padding: 0 3rem 0 0;
  }

  .nav-links {
    display: flex;
  }

  /* 
=============
Hero
==========
 */

  .hero-center {
    grid-template-columns: 420px 2fr;
    padding-top: 2.5rem;
  }

  .hero-text {
    padding: 6rem 0;
  }
  .hero-text h1 {
    font-size: 2.6rem;
    line-height: 47px;
    text-transform: none;
  }
  .hero-text p {
    max-width: 20rem;
  }

  /* 
=============
Hr
==========
 */

  .hr-details-container {
    grid-template-columns: repeat(3, 1fr);
  }

  /* 
=============
Admin
==========
 */

  .admin-header {
    grid-template-columns: 1fr 250px 250px;
  }
  .admin-section {
    padding-top: 3rem;
  }
  .travel-section h2 {
    font-size: 1.3rem;
  }
  .travel-section p {
    max-width: 12rem;
  }

  .company-logo {
    flex-direction: row;
  }
  .company-logo div {
    width: 50%;
    margin-bottom: 3rem;
  }

  .company-logo div img {
    width: 18rem;
    padding-right: 2.5rem;
  }
  .footer-section {
    grid-template-columns: 1fr 300px;
  }

  .footer-logo {
    text-align: start;
  }
}
